@media only screen and (min-width: 38rem) {
    .hero {
        max-height: 450;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        text-align: center;
    }

    .home-grid {
        grid-template-columns: 2fr 1fr 1fr;
    }

    .events {
        grid-column: 1 / 2;
    }

    .weather {
        grid-column: 2 / 3;
    }

    .forecast {
        grid-column: 3 / 4;
    }

    #spotlight-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        text-align: left;
    }

    .social {
        grid-column: 2 / 3;
    }

    .project-info {
        text-align: right;
    }

    /* Directory Page Styles */
    .menu {
        margin: 1rem auto;
        text-align: center;
    }

    .menu button {
        padding: 1rem;
        font-weight: 700;
        background-color: var(--primary-color);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .menu button:hover {
        background-color: var(--secondary-color);
    }


    #directory.grid section {
        text-align: center;
        border: 1px solid #ccc;
        padding: 1rem;
        background-color: white;
        box-shadow: 0 0 10px #777;
    }

    #directory.grid img {
        width: 100px;
        height: auto;
        margin: .5rem;
    }

    #directory.list {
        display: flex;
        flex-direction: column;
    }

    #directory.list section {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        margin: 0;
        padding: 0.5rem;
        align-items: center;
    }

    #directory.list section:nth-child(even) {
        background-color: #eee;
    }

    #directory.list section img {
        display: none;
    }

    #directory.list section h3 {
        font-size: 1rem;
    }
}